
/* styling for nav bar */
/* nav span {
  font-family: 'Bungee', sans-serif;
}; */

.logo-wrapper {
  font-family: 'Bungee', sans-serif;
}

.nav-bar {
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 1.5em;
};

