
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  /* background-color: fuchsia; */
}

textarea {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: transparent;
}

/* the div that wraps the button and counter */
form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

form div button {
  background-color: #4056A1;
  color: white;
}

/* styling for tweet submission errors */
.empty-alert, .over-alert {
  display: none;
  font-family: 'Bungee', sans-serif;
  color: fuchsia;
  border: 3px dotted fuchsia;
  font-size: large;
  padding: 1em;
}

@media only screen and (min-width: 1024px) {
  .tweet-form {
    margin-top: 30px;
  }
}