
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  /* background-color: fuchsia; */
}

textarea {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: transparent;
}

/* the div that wraps the button and counter */
form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

form div button {
  background-color: #4056A1;
  color: white;
}