
.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-article {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 90%;
  margin-bottom: 20px;
  filter: blur(1px);
}

.tweet-article:hover {
  box-shadow: 8px 8px lightgrey;
  filter: none;
}

.tweet-article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-name-wrapper {
  display: flex;
  align-items: center;
}

.tweet-article:hover .handle {
  display: block;
  color: gray;
}

.handle {
  display: none;
}

.avatar-name-wrapper img {
  padding-right: 10px;
}

.tweet-body {
  border: none;
  border-bottom: 3px solid black;
  font-weight: 600;
}

.tweet-body {
  word-wrap: break-word;
}

.icons {
  color:#4056A1;
}

.tweet-article footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}